.news-section{
    margin-bottom: 20px;
}
.news-section .heading{}
.news-section .heading small{
    display: block;
    font-size: 70%;
    color: #aaa;
}

.news-page {
    border-bottom: 1px solid #efefef;
    margin: 20px auto;
    padding-bottom: 20px;
}
.news-page:first-of-type {
    margin-top: 0px;
}
.news-page:last-of-type {
    border-bottom: 0;
}
.news-page .header{
    line-height: 1em;
    margin-bottom: 0;
}
.news-page .sub{
    font-size: 80%;
    margin-bottom: 5px;
}
.news-page .sub span{
    padding: 0 8px 0 5px;
    border-right: 1px solid #e1e1e1;
}
.news-page .sub span:first-of-type {
    padding-left: 0px;
}
.news-page .sub span:last-of-type {
    padding-right: 0;
    border-right: none;
}
.news-page .teaser{}
